<div class="row">
  <h1><%= my_garage.name %> <small>estatisticas</small></h1>
  <section class="col-md-2">
    <%= render 'garage/shared/profile_menu' %>
  </section>
  <section class="col-md-10">
    <h2>Visitas únicas</h2>
    <p>72</p>
    <h3>Visualizações</h3>
    <p>123</p>
    <h3>Likes</h3>
    <p>12</p>
  </section>
</div>