<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GSApp</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
    <%= render "shared/user_menu" if user_signed_in? %>
    <%= render "shared/guest_menu" if !user_signed_in? %>

      <form class="navbar-form navbar-right" role="search" action="/search" id="search-form" method='get'>
        <div class="form-group">
          <input type="text" class="form-control" name="query" 
                  placeholder="Search" id="search-input"
                  value="<%= show_search_param %>">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>

    </div><!-- /.navbar-collapse -->

  </div>
</nav>