<p>
  <span class="label label-info">
    <i class="glyphicon glyphicon-heart-empty"></i> 
    <%= @product.likes.size %>
  </span>
   &nbsp;
  <% if current_user and !current_user.voted_for? @product %>
  <%= link_to 'like', product_like_path(@garage, @product) %>
  <% elsif current_user and current_user.voted_for? @product %>
  <%= link_to 'unlike', product_unlike_path(@garage, @product) %>
  <% else %>
  login to vote
  <% end %>
</p>