<p>
  <span class="label label-info">
    <i class="glyphicon glyphicon-heart-empty"></i> 
    <%= @garage.likes.size %>
  </span>
  &nbsp;
  <% if current_user and !current_user.voted_for? @garage %>
  <%= link_to 'like', garage_like_path(@garage) %>
  <% elsif current_user and current_user.voted_for? @garage %>
  <%= link_to 'unlike', garage_unlike_path(@garage) %>
  <% else %>
  login to vote
  <% end %>
</p>