<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= my_garage.name %>
      <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "my garage", my_garage_path %></li>
      <li><%= link_to "profile", profile_path %></li>
      <li><a href="#">promote</a></li>
      <li class="divider"></li>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete  %></li>
    </ul>
  </li>
</ul>   