<h1>Garages</h1>
<% @garages.each do |garage| %>
  <%= link_to garage.name, garage_path(garage) %>
<% end %>

<h1>Products</h1>
<% @products.each do |product| %>
  <%= link_to product.name, product_path(product.garage, product) %>
<% end %>