/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.product-thumb {
  width: 250px;
  float: left;
}


.product-thumb .img {
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-size: cover;
}
