<div class="row">
  <section class="col-md-2">
    <%= render 'promote/shared/promote_menu' %>
  </section>
  <section class="col-md-10">
<div class="well">
  <h2>What are business cards</h2>
</div>
<h2>Choose format</h2>
<h2>Set it on</h2>
  </section>
</div>
  </section>
</div>